/*accueil*/
body {
    width: auto;
}

.food,
.ohmyfood {
    width: 30%;
}

.retour {
    font-size: 2rem;
}

.locate {
    font-size: 1.8rem;
    padding-block-start: 1%;
    padding-block-end: 1%;
}

.famille {
    text-align: center;
    font-size: 2rem;
    margin: 1rem 0;
}

.explore {
    padding-block-end: 2%;
}

.choix {
    width: auto;
    height: 100%;
    padding: 0 1rem;
    margin: 0 1rem 2rem 1rem;
}

.choix:hover {
    transform: scale(1.05);
}

.btnchoix {
    margin-top: 2rem;
    font-size: 1rem;
}

.logo {
    padding: 1.1rem 2rem;
    font-size: 1rem;
}

.numero {
    position: relative;
    margin: 0.8rem;
    left: 3%;
}

.fonction {
    display: flex;
    margin: auto;
}

.restaurant {
    padding-block-start: 1%;
}

.element {
    display: flex;
    flex-wrap: wrap;
}

.partie1 {
    width: 23%;
    margin-left: 1%;
    margin-bottom: 1%;
    margin-top: 1%;
    margin-right: 1%;
}

.partie1:hover {
    transform: scale(1.05);
}

img.foot {
    width: 30%;
}

.couvert {
    padding-right: 1.5%;
}

.main {
    padding-right: 1%;
}

.fin h3 {
    margin-left: 3%;
}

.fin {
    margin-block-end: 4%;
}

/* fin accueil*/
.block1 {
    margin: 1rem 6rem;
}

.rst {
    display: block;
    margin: auto;
    width: 90%;
    border-radius: 3rem;
    height: 22rem;
}

.Menu1,
.Menu2,
.Menu3,
.Menu4 {
    position: initial;
    border-radius: 0 0;
    background-color: #fff;
}

.entree,
.repas,
.dessert {
    background-color: #f6f6f6;
    padding-bottom: 2%;
    border-radius: 50px;
    margin-bottom: 2%;
}

h1 {
    font-size: 2rem;
}

.en-tete {
    justify-content: space-around;
}

.appelation {
    font-size: 1.8rem;
}

.sous_menu {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1rem;
    margin: 0 5rem;
}

.sousmenu {
    text-align: center;
    font-size: 1.5rem;
    width: 100%;
}

.objet_plat {
    border-bottom: none;
    font-size: 1rem;
    text-align: center;
}

.btnCommander {
    width: 20%;
    font-size: 1.4rem;
    margin-left: 40%;
    margin-bottom: 4%;
    margin-top: 4%;
}

.page {
    position: initial;
}

.loader {
    width: 255px;
    height: 255px;
    left: 45%;
    top: 25%;
}