/*accueil*/
body {
    width: auto;
}

.food,
.ohmyfood {
    width: 40%;
}

.retour {
    font-size: 2rem;
}

.locate {
    font-size: 1.4rem;
    padding-block-start: 2%;
    padding-block-end: 2%;
}

.explore {
    padding-block-end: 5%;
}

.choix {
    height: 100%;
    padding: 0 0.5rem;
    margin: 0 0.2rem 1rem 0.2rem;
}

.choix:hover {
    transform: scale(1.05);
}

.logo {
    font-size: 1rem;
    padding: 1.2rem 0;
}

.btnchoix {
    margin: 0 0.5rem;
    font-size: 0.9rem;
}

.numero {
    position: relative;
    width: 4rem;
    left: 2%;
    margin-top: 0;
}


.fonction {
    display: flex;
    margin: 0 0.6rem;
}

.famille {
    text-align: center;
    font-size: 2rem;
    margin-left: 0;
}

.restaurant {
    padding-block-start: 2%;
}

.element {
    display: flex;
    flex-wrap: wrap;
}

.partie1 {
    width: 44%;
    margin-left: 4%;
    margin-bottom: 1%;
    margin-top: 1%;
    margin-right: 0%;
}

.partie1:hover {
    transform: scale(1.05);
}

footer{
    text-align: center;
}

.couvert {
    padding: 0 1rem 0 0;
}

.main {
    padding: 0 0.5rem 0 0;
}

.fin {
    margin: 0 0 36rem 0;
}

.fin h3{
    margin: 0 0 1rem 0;
}

/* fin accueil*/
.block1 {
    margin: 2rem;
}

.rst {
    width: 96%;
    border-radius: 3rem;
    height: 22rem;
    margin-left: 1rem;
}

.Menu1,
.Menu2,
.Menu3,
.Menu4 {
    position: initial;
    margin-top: -1rem;
    border-radius: 0 0;
    background-color: #fff;
}

.en-tete {
    justify-content: space-around;
}

.appelation {
    font-size: 1.8rem;
}

.entree,
.repas,
.dessert {
    width: 90%;
    display: block;
    background-color: #f6f6f6;
    padding-bottom: 0.8rem;
    margin: 1rem 1.5rem;
    border-radius: 3rem;
}

h1 {
    font-size: 2rem;
    margin: 1rem 0;
}

.sousmenu {
    text-align: center;
    font-size: 1.5rem;
    text-transform: uppercase;
    border-bottom: 4px solid #99e2d0;
    width: 100%;
}

.objet_article:hover {
    transform: scale(1.05);
}

.objet_menu {
    margin: 1rem 1rem;
}

.objet_plat {
    border-bottom: none;
    font-size: 1rem;
}

.loader {
    width: 250px;
    height: 250px;
    left: 40%;
    top: 15%;
}