body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

a {
    color: #000000;
}

a:link {
    text-decoration: none;
}

/* accueil */
.coeur:hover {
    color: #8725e1;
}

.ohmyfood {
    width: 50%;
    display: block;
    margin: auto;
    margin-top: 2rem;
}

.locate {
    background-color: #f3f3f3;
    padding: 1.25rem 1rem;
    text-align: center;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: bold;
}

.mark {
    margin-right: 1rem;
}


.explore {
    padding: 2rem;
    text-align: center;
    background-color: #fafafa;
}

.titre {
    margin: 0;
}

.sous-titre {
    margin: 1.5rem 0;
}

.btnExplorer {
    border: none;
    border-radius: 100px;
    width: 80%;
    height: 50px;
    font-size: 1.1rem;
    color: #fff;
    background-color: #686868;
    background-image: linear-gradient(0deg, #7855b8, #ea4fdd);
    cursor: pointer;
    transition-duration: .25s;
    box-shadow: 0.25rem 0.25rem 10px #000000(0 0 0 / 25%);
}

h2 {
    margin-left: 4%;
}

.fonction {
    margin-left: 8%;
    margin-bottom: 8%;
}

.numero {
    position: absolute;
    left: 5%;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    padding: 4px;
    margin-top: 18px;
    background-color: #8a2be2;
    text-align: center;
    color: #fff;
}

.choix {
    display: flex;
    margin-bottom: 0.7rem;
    border-radius: 20px;
    background-color: #f2f2f2;
    width: 85%;
    height: 3.8rem;
    padding-left: 8%;
}

.choix:hover {
    background-color: #eae4f3;
}

.logo:hover {
    color: #8a2be2;
}

.logo {
    color: #908686;
    padding-top: 7%;
    font-size: 18px;
}

span {
    color: #000000;
    margin-left: 30px;
}

.conteneur {
    position: relative;
}

.conteneur .texte {
    background: #99E2D0;
    position: absolute;
    text-align: center;
    right: 5%;
    top: 10%;
    padding: 1%;
    color: #085862;
    width: 22%;
}

.restaurant {
    background-color: #f6f6f6;
    padding-block-start: 5%;
    padding-block-end: 5%;
}

.partie1 {
    border-radius: 15px;
    box-shadow: 3px 5px 0px 0px #e4e2e2;
    width: 95%;
    background-color: #fff;
    margin: 2%;
}

.resto {
    border-radius: 15px 15px 0px 0px;
    width: 100%;
    height: 160px;
    object-fit: cover;
}

.nom {
    line-height: 8px;
    padding-bottom: 2%;
    padding-left: 4%;
}

.coeur {
    padding-right: 5%;
    font-size: 26px;
    float: right;
}

footer {
    background-color: #000000;
}

.fin {
    padding-left: 5%;
    padding-top: 5%;
    margin-block-end: 15%;
    padding-bottom: 5%;
}

.fin h1 {
    color: #fff;
}

.fin h3 {
    color: #fff;
    margin-left: 4%;
}

img.foot {
    width: 50%;
}

.main {
    padding-right: 4%;
}

.couvert {
    padding-right: 6%;
}

/* fin accueil */
.block1 {
    display: flex;
    margin-bottom: 4%;
}

.retour {
    margin-inline-start: 100%;
    padding-top: 2.4rem;
    padding-left: 1rem;
    font-size: larger;
}

.rst {
    width: 100%;
    height: 16rem;
    object-fit: cover;
}

.Menu1,
.Menu2,
.Menu3,
.Menu4 {
    background-color: #f6f6f6;
    padding-top: 1%;
    border-radius: 50px 50px 0 0;
    position: relative;
    bottom: 60px;
}

.en-tete {
    padding: 1rem 2rem 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Shrikhand', cursive;
    font-weight: bold;
}

.heart {
    font-size: 1.6rem;
}


h1 {
    font-family: 'Shrikhand', cursive;
    font-weight: bold;
}

h1,
h4 {
    margin-left: 3%;
}

h4 {
    border-bottom: 3px solid #008000;
    padding-bottom: 1%;
    width: 12%;
}

.entree,
.repas,
.dessert {
    max-width: 100%;
    overflow: hidden;
    padding: 0 1rem;
}

.objet_article {
    margin: 0;
}

.objet_menu {
    background-color: #fff;
    padding: 0.2rem;
    display: flex;
    border-radius: 0.75rem;
    margin: 1rem 0;
    box-shadow: 0.25rem 0.25rem 1rem rgb(0 0 0 / 10%);
    overflow: hidden;
    cursor: pointer;
}

.objet_platdescription {
    flex: 1;
}

.objet_plat {
    font-size: 1.1rem;
    font-weight: bold;
}

.objet_plat,
.objet_description {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.objet_prix {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-left: 0.5rem;
    font-weight: bold;
}

.objet_confirmation {
    background-color: #99e2d0;
    margin: -1rem -5rem -1rem 1rem;
    width: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: .5s;
}

.objet_icon {
    height: 1.6rem;
    width: 1.6rem;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    transform: rotate(180deg);
    transition-duration: .5s;
}

.objet_check {
    color: #99e2d0;
}


.btnCommander {
    border: none;
    border-radius: 100px;
    width: 50%;
    height: 3rem;
    margin: 6rem;
    margin-top: 3rem;
    font-size: 1.1rem;
    color: #fff;
    background-color: #686868;
    background-image: linear-gradient(0deg, #7855b8, #ea4fdd);
    cursor: pointer;
    transition-duration: .25s;
    box-shadow: 0.25rem 0.25rem 10px #000000(0 0 0 / 25%);
}

.page {
    position: relative;
    bottom: 60px;
    margin-block-end: -15%;
}

.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #8a2be2;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    animation: spin 3s linear;
    position: absolute;
    left: 35%;
    top: 50%;
    z-index: 1;
    margin: -76px 0 0 -54px;
    animation-duration: 3000ms;
    animation-fill-mode: forwards;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(1080deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
        opacity: 0;
    }

    10% {
        transform: rotate(108deg);
        opacity: 1;
    }

    50% {
        transform: rotate(540deg);
        opacity: 0.5;
    }

    100% {
        transform: rotate(1080deg);
        opacity: 0;
        display: none;
    }

}

.entree {
    animation: fadein 3s;
    -moz-animation: fadein 3s;
    /* Firefox */
    -webkit-animation: fadein 3s;
    /* Safari et Chrome */
    -o-animation: fadein 3s;
    /* Opera */
}

.repas {
    animation: fadein 6s;
    -moz-animation: fadein 6s;
    -webkit-animation: fadein 6s;
    -o-animation: fadein 6s;
}

.dessert {
    animation: fadein 9s;
    -moz-animation: fadein 9s;
    -webkit-animation: fadein 9s;
    -o-animation: fadein 9s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-moz-keyframes fadein {

    /* sur Firefox */
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {

    /* sur Safari et Chrome */
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-o-keyframes fadein {

    /* sur Opera */
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}