/*accueil*/
body {
    width: auto;
}

.ohmyfood {
    width: 30%;
}

.retour {
    font-size: 2rem;
}

.locate {
    font-size: 1.8rem;
    padding-block-start: 1%;
    padding-block-end: 1%;
}

h2 {
    text-align: center;
    font-size: 2rem;
}

.btnExplorer {
    width: 20%;
    font-size: 1.4rem;
}

.explore {
    padding-block-end: 2%;
}

.choix {
    width: 38%;
    padding-left: 4%;
    padding-bottom: 3%;
    margin-bottom: 2%;
    margin-left: 10px;
}

.btnchoix {
    margin-top: 2rem;
    font-size: 1.4rem;
}

.logo {
    padding-top: 9%;
    font-size: 1.6em;
}

.numero {
    left: 37%;
    margin-top: 1.6rem;
    padding: 0.8rem;
}

.fonction {
    margin-left: 38%;
    margin-bottom: 2%;
}

.restaurant {
    padding-block-start: 1%;
}

.element {
    display: flex;
    flex-wrap: wrap;
}

.partie1 {
    width: 23%;
    margin-left: 1%;
    margin-bottom: 1%;
    margin-top: 1%;
    margin-right: 1%;
}

img.foot {
    width: 30%;
}

.couvert {
    padding-right: 1.5%;
}

.main {
    padding-right: 1%;
}

.fin h3 {
    margin-left: 3%;
}

.fin {
    margin-block-end: 4%;
}

/* fin accueil*/
.rst {
    display: block;
    margin: auto;
    width: 90%;
    border-radius: 3rem;
    height: 22rem;
}

.Menu1,
.Menu2,
.Menu3,
.Menu4 {
    position: initial;
    border-radius: 0 0;
    background-color: #fff;
}

.entree,
.repas,
.dessert {
    background-color: #eddfdf;
    padding-bottom: 2%;
    border-radius: 50px;
    margin-bottom: 2%;
}

h1 {
    font-size: 2rem;
}

.en-tete {
    justify-content: space-around;
}

.objet {
    text-align: center;
    font-size: 1.5rem;
    border-bottom: 3px solid #c931c9;
    width: 100%;
}

.objet_plat {
    border-bottom: 2px solid #c931c9;
    font-size: 1.5rem;
    width: 95%;
    text-align: center;
    padding-bottom: 2%;
}

.btnCommander {
    width: 20%;
    font-size: 1.4rem;
    margin-left: 40%;
    margin-bottom: 4%;
    margin-top: 4%;
}

.page {
    position: initial;
}

.loader {
    width: 400px;
    height: 400px;
    left: 40%;
    top: 30%;
}